<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <link rel="stylesheet" href="css/style.css">
    <title>iWeather</title>
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-lg-6 col-md-12 main_header_left">
                <img src="https://assets.materialup.com/uploads/26541cce-49c6-4e35-a055-e11b90ffad68/preview.gif" class="img-fluid">
              </div>
              <div class="col-lg-6 col-md-12 main_header_right port text-center">
                  <h1 style="font-size: 80px;">ERROR 404</h1><br>
                  <h1>Looks Like You Have Lost !!</h1><br>
                  <h1>Return Home </h1><br>
                  <a href="/"><button>Home</button></a>
              </div>
            </div>
          </div>
      </div>
    </div>
    {{>footer}}
</body>
</html>