<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <link rel="stylesheet" href="css/style.css">
    <title>iWeather</title>
</head>
<body>
  {{>navbar}}
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-lg-6 col-md-12 main_header_left">
                <p>Welcome to iWeather App</p>
                <h1>Get the latest <span>Weather</span> of your city!</h1>
                <a href="/weather"><button>Check >></button></a>
              </div>
              <div class="col-lg-6 col-md-12 main_header_right">
                <img src="./images/island/SVG/slide1.svg" class="img-fluid">
              </div>
            </div>
          </div>
      </div>
    </div>
    {{>footer}}
</body>
</html>